/* Main Layout */
/* using grid-template-columns to display grid contents in 3 columns
grid-template-columns; column1 column2 column3 
unit size fr = fraction of the container its in */
.container {
    display: grid;
    grid-template-columns: 250px 1fr;
    gap: 20px;
    padding: 20px;
    
    
}

/* Sidebar autoscroller*/
.sidebar {
    background: none;
    color: black;
    padding: 20px;
    min-height: 400px;

    border-radius: 10px;
}

.sidebar .box {
    background-color: none;
    padding: 40px;
    padding-left: 8px;

    /* border: 1px solid black; */
    border-radius: 10px;
    line-height: 1.6 ;
}

.sidebar .title{
    margin: 0 0 20px 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: black;

    border-bottom: 2px solid black;
    padding-bottom: 5px;

    display: inline-block;
}

.sidebar p{
    font-size: 0.95rem;
}

/* Content Area */
.content {
    display: grid;
    grid-template-columns: 1fr 0.5fr 1fr; /*Column 1, img , column 2*/
    gap: 20px;
}

img{
    background: #1a0f0f;
    color: white;
    padding: 20px;
    min-height: 300px ;
    max-height: 300px ;

    border-radius: 50%;
    max-width: 100%;
    height: auto;
}




/* Content Boxes */
.content .box {
    background-color: none;
    padding: 40px;


    border: 1px solid black;
    border-radius: 10px;
    line-height: 1.6 ;
}

.box .title{
    margin: 0 0 20px 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: black;

    border-bottom: 2px solid black;
    padding-bottom: 8px;

    display: inline-block;
}

.box .text{
    font-size: 18px;
    color: black;

    margin:0;
}