/* Page css */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #e8e5df;
}

/* Header */
.header {
    background: #2b2f36;
    color: white;
    padding: 20px;
}

/* Navigation buttones*/
.nav {
    display: flex;
    gap: 10px;
    padding: 10px;
    /* background: #ddd; */
}

.nav a {
    background:#000;
    color: white;
    padding: 8px 16px;
    text-decoration: none;

    border-radius: 5px;
}

/* Change background on mouse hover*/
.nav a:hover{
    background: #333;
}
